/*

@Author: Akhouad-me
@URL: http://www.akhouad.me
 
This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.


// Table of contents //

		Body
	0.  General
	1.  Header & footer
	2.  Site heroes
	3.  Services
	4.  Portfolio
	5.  Inputs & textareas styles
	6.  Benefits styles
	7.  Pricing plans styles
	8.  Team styles
	9.  Testimonials styles
	10. clients styles
	11. Blog styles
	
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); /* Montserrat font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800); /* Open sans font */

/* ##### GENERAL  ##### */
* {
  outline: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #60606e;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* ##### 00 : GENERAL  ##### */
section {
  margin-top: 150px;
}
.green-section {
  background-color: #7beec7;
}
.white-section {
  background-color: #fff;
}
.light-gray-section {
  background-color: #efeff0;
}
img {
  width: 100%;
}

/*blockquote*/
blockquote.bq {
  padding: 30px;
  border-left: solid 10px #7beec7;
  font-style: italic;
  font-size: 14px;
  line-height: 30px;
  color: #999999;
  background-color: #efeff0;
}

/*links*/
a {
  color: #60606e;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a.link {
  position: relative;
}
a.link:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #7beec7;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  color: #60606e;
  text-decoration: none;
}
a:hover:after {
  width: 50%;
}
/*texts*/
.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.open-sans-text {
  font-family: "Open sans", sans-serif;
}
.white-text {
  color: white;
}
.green-text {
  color: #7beec7;
}
.gray-text {
  color: #999999;
}

.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
p {
  font-family: "Open sans", sans-serif;
  color: #999999;
  line-height: 30px;
}
ul.social-icons li a:hover {
  color: #7beec7;
}
/*section's title*/
.section-title {
  width: 50%;
  margin: 0 auto 100px;
  text-align: center;
}
.section-title span {
  position: relative;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.section-title span:after {
  content: "";
  background-color: #2cbadd;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
  width: 60px;
  height: 20px;
}
.section-title p {
  line-height: 24px;
  color: #000;
}
.home_p {
  color: #000;
}
.section-title2 span {
  position: relative;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.section-title2 span:after {
  content: "";
  background-color: #3edbf0;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
  width: 60px;
  height: 20px;
}
.section-title2 p {
  line-height: 24px;
  color: #000;
}

@media (max-width: 991px) {
  .section-title {
    margin: 0 auto 50px;
  }
  .section-title span:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/*lists*/
/*list 1*/
ul.list li {
  list-style: none;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}
ul.list li:last-child {
  margin-bottom: 0;
}
ul.list li:before {
  font-family: "Ionicons";
  content: "\f374";
  position: absolute;
  left: 0;
  color: #7beec7;
}
/*list 2*/
ul.list_2 li {
  list-style: none;
  float: left;
  width: 100%;
}
ul.list_2 li a {
  display: inline-block;
  padding: 20px;
  border-bottom: solid 1px #bfbfbf;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
ul.list_2 li:first-child a {
  border-top: solid 1px #bfbfbf;
}
ul.list_2 li a > span {
  float: right;
}
ul.list_2 li a:hover {
  border-bottom: solid 1px #7beec7;
}
/*list 3 (tags)*/
ul.tags {
  float: left;
}
ul.tags li {
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}
ul.tags li a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: #999999;
  background-color: #e5e5e5;
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
ul.tags li a:hover {
  background-color: #f2f2f2;
  color: #60606e;
}

/*social icons*/
ul.social-icons li {
  list-style: none;
  float: left;
  margin: 0 10px;
}
ul.social-icons li:first-child {
  margin: 0 10px 0 ;
}
ul.social-icons li:last-child {
  margin:  0 0 10px;
}
ul.social-icons li a {
  color: #999999;
  font-size: 18px;
}

/*buttons*/
.btn {
  height: 50px;
  line-height: 50px;
  min-width: 150px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tombol {
  height: 50px;
  line-height: 50px;
  min-width: 150px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #2cbadd;
  margin-top: 10px;
}
.tombol:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn.green {
  background-color: #2cbadd;
  color: #fff;
  width: 180px;

}
.btn.white {
  background-color: #fff;
  color: #0a6f97;
}
.tombol .surat{
  background-color: #2cbadd;
  color: #fff;
  width: 180px;

}
@media (max-width: 991px) {
  .btn {
    margin: 20px 0;
  }
  .tombol{
    margin-top: 40px;
    min-width: 180px;
  }
  .tombol span .surat {
    margin-top: 50px;
    /* margin-bottom: -50px;  */
  }
}

/*tab menu*/
.tab {
  overflow: hidden;
  float: left;
}
.tab nav {
  width: 100%;
  display: inline-block;
  float: left;
  border-bottom: solid 2px #e6e6e6;
  margin-bottom: 30px;
  position: relative;
}
.tab nav .bottom-line {
  height: 2px;
  background-color: #3edbf0;
  position: absolute;
  bottom: -2px;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tab nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 10px 20px;
  color: #999999;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.tab nav a.current {
  color: #000;
}
.tab .tab_single {
  display: none;
}
.tab .tab_single.shown {
  display: block;
}

/* ##### 01 : HEADER & FOOTER  ##### */
/*header*/
header.main-header {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
/*logo*/
header.main-header .logo {
  float: left;
  height: 100px;
  line-height: 100px;
}

.menu {
  float: right;
}

/*desktop nav*/
nav.desktop-nav {
  float: left;
}
nav.desktop-nav li {
  list-style: none;
}
nav.desktop-nav ul.first-level > li {
  float: left;
  margin-right: 20px;
  position: relative;
}
nav.desktop-nav ul.first-level > li:last-child {
  margin-right: 0;
}
nav.desktop-nav ul.first-level > li > a {
  display: inline-block;
  line-height: 100px;
  position: relative;
  -webkit-transition: none;
  transition: none;
  color : #fff;
}
nav.desktop-nav ul.first-level > li > a:after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 50%;
  height: 1px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
nav.desktop-nav ul.first-level > li:hover > a:after {
  top: 35px;
  opacity: 1;
}
nav.desktop-nav ul.first-level > li a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
}

nav.desktop-nav ul.first-level > li > ul.second-level {
  display: none;
  z-index: 999;
  position: absolute;
  top: 70px;
  left: 0;
  min-width: 200px;
  background-color: #60606e;
}
nav.desktop-nav ul.first-level > li:last-child > ul.second-level {
  left: auto;
  right: 0;
}
nav.desktop-nav ul.first-level > li > ul.second-level > li > a {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
}
nav.desktop-nav ul.first-level > li > ul.second-level > li:nth-child(even) > a {
  background-color: #585866;
}
nav.desktop-nav ul.first-level > li > ul.second-level > li > a:hover {
  background-color: #000;
}
@media (max-width: 991px) {
  .menu nav.desktop-nav {
    display: none;
  }
}

/*mobile nav*/
nav.mobile-nav {
  display: inline-block;
  min-width: 300px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 100px;
  display: none;
}
nav.mobile-nav > ul.first-level li {
  list-style: none;
}
nav.mobile-nav > ul.first-level > li a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #60606e;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
nav.mobile-nav > ul.first-level > li a:hover {
  background-color: #404051;
}
nav.mobile-nav > ul.first-level > li > ul.second-level {
  display: none;
  background-color: #50505f;
}

/*menu icon*/
header.main-header .menu-icon {
  float: left;
  cursor: pointer;
  margin-top: 41.5px; /* (100 - 17) / 2 (17px is the icon's height) */
  display: none;
}
header.main-header .menu-icon .line {
  height: 1px;
  width: 30px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header.main-header .menu-icon .line:nth-child(2) {
  margin: 7px 0;
  width: 15px;
}
header.main-header .menu-icon .line:last-child {
  width: 20px;
}
@media (max-width: 991px) {
  header.main-header .menu-icon {
    display: block;
  }
}

/*footer*/
.bg_footer{
  background-color:#fff ;
 box-shadow: 0px 133px 500px rgba(0, 0, 0, 0.17), 
 0px 40.0956px 150.735px rgba(0, 0, 0, 0.11077), 
 0px 16.6537px 62.6078px rgba(0, 0, 0, 0.085), 
 0px 6.0233px 22.644px rgba(0, 0, 0, 0.0592299);  
}
footer.main-footer {
  margin-top: 100px;
}
footer.main-footer nav.footer-nav ul {
  padding: 0;
  margin: 0;
}
footer.main-footer nav.footer-nav ul li {
  list-style: none;
  float: left;
  margin: 0 20px;
  padding: 0;
}
footer.main-footer nav.footer-nav ul li:first-child {
  margin: 0 20px 0 0;
}
footer.main-footer nav.footer-nav ul li a {
  text-transform: uppercase;
  color: #9a9a9a;
}
@media (max-width: 991px) {
  footer.main-footer * {
    text-align: center;
  }
  footer.main-footer ul.social-icons {
    float: left;
    width: 60%;
    text-align: center;
  }
  footer.main-footer ul.social-icons li {
    margin: 0;
    width: -webkit-calc(40% / 2);
    width: calc(30% / 2);
  }
  footer.main-footer nav.footer-nav ul li {
    text-align: center;
    width: 30%;
  }
  footer.main-footer nav.footer-nav ul li,
  footer.main-footer nav.footer-nav ul li:first-child {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
.narahubung 
{
margin-top: 30px;
list-style: none;
color: #000;
font-family: "Montserrat", sans-serif;
font-weight: 700;
}
.nama
{
  list-style: none;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}

/* ##### 02 : SITE HEROS  ##### */
/*site hero 1 */
.site-hero {
  height: 850px;
  width: 100%;
  background:#fff url("../img/11.png") no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.site-hero ul.slides {
  height: 450px; /* 850 - 400 */
  width: 100%;
  position: absolute;
  top: 100px;
}
.site-hero ul.slides li {
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.site-hero .small-title {
  color: #fff;
  padding: 7px 12px;
  background-color: #2cbadd;
  display: inline-block;
}
.site-hero .big-title {
  font-size: 42px;
  color: #fff;
  padding: 10px 40px;
  border: solid 10px #fff;
  display: inline-block;
  margin-bottom: 30px;
}
.site-hero p {
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
  color: #fff;
}

/*site hero 2 */
.site-hero_2 {
  background: url("../img/mesjid1.png") no-repeat;
  background-size: cover;
  height: 850px;
  width: 100%;
  position: relative;
}

.site-hero_2 .page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.site-hero_2 .page-title .big-title {
  font-size: 42px;
  color: #fff;
}
.site-hero_2 .big-title:after {
  content: "";
  background-color: #2cbadd;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: -1;
  width: 90px;
  height: 25px;
}
.site-hero_2 .page-title .small-title {
  font-size: 20px;
  color: #fff;
}

/* Site Hero 3 */
.site-hero_3 {
  background: url("../img/mesjid3.png") no-repeat;
  background-size: cover;
  height: 850px;
  width: 100%;
  position: relative;
}
.site-hero_3 .page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.site-hero_3 .page-title .big-title {
  font-size: 42px;
  color: #fff;
}
.site-hero_3 .big-title:after {
  content: "";
  background-color: #2cbadd;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: -1;
  width: 90px;
  height: 25px;
}
.site-hero_3 .page-title .small-title {
  font-size: 30px;
  color: #fff;
}
/* Site Hero 4 */
.site-hero_4 {
  background: url("../img/mesjid3.png") no-repeat;
  background-size: cover;
  height: 850px;
  width: 100%;
  position: relative;
}
.site-hero_4 .page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.site-hero_4 .page-title .big-title {
  font-size: 42px;
  color: #fff;
}
.site-hero_4 .big-title:after {
  content: "";
  background-color: #2cbadd;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: -1;
  width: 90px;
  height: 25px;
}
.site-hero_4 .page-title .small-title {
  font-size: 20px;
  color: #fff;
}

/* Site Hero 5 */
.site-hero_5 {
  background: url("../img/mesjid5.png") no-repeat;
  background-size: cover;
  height: 850px;
  width: 100%;
  position: relative;
}
.site-hero_5 .page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.site-hero_5 .page-title .big-title {
  font-size: 42px;
  color: #fff;
}
.site-hero_5 .big-title:after {
  content: "";
  background-color: #2cbadd;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: -1;
  width: 90px;
  height: 25px;
}
.site-hero_5 .page-title .small-title {
  font-size: 20px;
  color: #fff;
}

.sapa-poster{
  max-height: 480px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 43px 188px rgba(0, 0, 0, 0.07), 
  0px 19.8802px 86.9181px rgba(0, 0, 0, 0.0519173), 
  0px 11.375px 49.7326px rgba(0, 0, 0, 0.0438747), 
  0px 6.90454px 30.1873px rgba(0, 0, 0, 0.0377964), 
  0px 4.16029px 18.1892px rgba(0, 0, 0, 0.0322036), 
  0px 2.31672px 10.1289px rgba(0, 0, 0, 0.0261253), 
  0px 0.996405px 4.35637px rgba(0, 0, 0, 0.0180827);
  border-radius: 10px;
}

@media (max-width: 991px){
  .kotdok{
    margin-top: 65px;
  }
}


.struktur {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 43px 188px rgba(0, 0, 0, 0.07), 
  0px 19.8802px 86.9181px rgba(0, 0, 0, 0.0519173), 
  0px 11.375px 49.7326px rgba(0, 0, 0, 0.0438747), 
  0px 6.90454px 30.1873px rgba(0, 0, 0, 0.0377964), 
  0px 4.16029px 18.1892px rgba(0, 0, 0, 0.0322036), 
  0px 2.31672px 10.1289px rgba(0, 0, 0, 0.0261253), 
  0px 0.996405px 4.35637px rgba(0, 0, 0, 0.0180827);
border-radius: 20px;
}
.peserta{
  color: black;
}

.agency {
  width: 100%;
  height: auto;
  float: left;
  margin-top: -300px;
}
.shadow_img{
  box-shadow: 0px 365px 500px rgba(0, 0, 0, 0.03), 
  0px 133.231px 182.508px rgba(0, 0, 0, 0.0206994), 
  0px 64.6812px 88.6044px rgba(0, 0, 0, 0.0166887), 
  0px 31.7079px 43.4355px rgba(0, 0, 0, 0.0133113), 
  0px 12.5374px 17.1745px rgba(0, 0, 0, 0.00930055);
}
.agency img {
  max-height: 400px;
}
.agency span {
  color: #fff;
}
.agency  p {
  color: #fff;
  font-size: 20px;
}
.agency .huzur {
  max-width: 400px;
}
.agency .section-title {
  text-align: left;
  width: 100%;
  margin: 0 auto 30px;
}
@media (max-width: 991px) {
  .site-hero ul.slides {
    height: 750px; 
  }
  .tbl-lomba .tombol a span .surat{
    margin-top: 100px;
  }
  .agency {
    margin-top: 30px;
  }
  .agency img {
    margin-bottom: 30px;
  }
  .agency .huzur{
    max-width: 450px;

  }
  .agency .section-title {
    margin: 0 auto;
    text-align: center;
  }
  .agency span {
    color: #000;
    text-align: center;
  }
  .agency p {
    text-align: center;
    color: #000;
  }
}


/* ##### 03 : SERVICES  ##### */
.services .services-left i.icon {
  display: block;
  font-size: 20px;
  margin-bottom: -35px;
  /* margin-left: -35px; */
}
.services .services-left i span {
  margin-top: -20px;
  color: black;
  text-align: center;
}
.services .services-left .service-title {
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  margin-top: -35px;
}
.services .services-left ul li {
  list-style: none;
  text-transform: uppercase;
  line-height: 30px;
  color: black;
  font-size: 26px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  margin-top: -20px;
}
.chart {
  justify-content: center;
  text-align: center;
  margin-top: 20rem;
}
.chart-text {
justify-content: center;
margin-top: 7%;
margin-left: 10%;
}
@media (max-width: 991px) {
  .services .services-left {
    text-align: center;
    margin-bottom: 50px;

  }
  .services .services-left .icon2 i.icon{
    margin-left: -65px;
    margin-right: auto;
    align-content: center;
  }  
  .services .services-left .icon2 span{
    margin-left: -65px;
    margin-right: auto ;
  }
  .services .services-left .icon2 ul li{
    margin-left: -60px;
    margin-right: auto;
  }  
  @media (max-width: 768px){
    .services .services-left .icon2 i.icon{
    margin-left: -5px;
    margin-right: auto;
    align-content: center;
  }  
  .services .services-left .icon2 span{
    margin-left: -5px;
    margin-right: auto ;
  }
  .services .services-left .icon2 ul li{
    margin-left: -1px;
    margin-right: auto;
  }  
  }
  .services2 h2{
    text-align: center;
    margin-bottom: 50px;
    margin-right: 18%;
  }
  .chart{
  justify-content: center;
  text-align: center;
  margin: 5%;
  }
  .susunan-acara span .teks{
    text-align: center;
    color: #000;
  }

  .susunan-acara img {
  align-items: center;
  margin: 5%;
  justify-content: center;
  max-width: 300px;
  }
  .susunan-acara{
  max-width: 330px;
  }
}

.susunan-acara{
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 0px 43px 188px rgba(0, 0, 0, 0.07), 
  0px 19.8802px 86.9181px rgba(0, 0, 0, 0.0519173), 
  0px 11.375px 49.7326px rgba(0, 0, 0, 0.0438747), 
  0px 6.90454px 30.1873px rgba(0, 0, 0, 0.0377964), 
  0px 4.16029px 18.1892px rgba(0, 0, 0, 0.0322036), 
  0px 2.31672px 10.1289px rgba(0, 0, 0, 0.0261253), 
  0px 0.996405px 4.35637px rgba(0, 0, 0, 0.0180827);
}

.sa span{
  position: relative;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.susunan-acara img {
  padding-top: 10px;
  padding-bottom: 20px;
}
.sa span :after{
  content: "";
  background-color: #2cbadd;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: -1;
  width: 60px;
  height: 20px;
}

.hg-kpa {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  z-index: 1;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.hg-kpa p .tih {
  margin-top: -50px;
}

.hg-kpa img {
  margin-bottom: -50px;
}

.pstr img {
   
  max-height: 430px;
  width: 100%;
}
.pstr{
  align-content: center;
}
.pstrr{
  max-height: 450px;
  background-color: #fff;
  padding: 15px;
  box-shadow: 0px 43px 188px rgba(0, 0, 0, 0.07), 
  0px 19.8802px 86.9181px rgba(0, 0, 0, 0.0519173), 
  0px 11.375px 49.7326px rgba(0, 0, 0, 0.0438747), 
  0px 6.90454px 30.1873px rgba(0, 0, 0, 0.0377964), 
  0px 4.16029px 18.1892px rgba(0, 0, 0, 0.0322036), 
  0px 2.31672px 10.1289px rgba(0, 0, 0, 0.0261253), 
  0px 0.996405px 4.35637px rgba(0, 0, 0, 0.0180827);
}

@media (max-width: 991px){
  .hg-kpa ul li {
    margin-left: 20px;
  }
  .pstr .pstrr {
    max-height: 600px;
    margin-top: 10px;
  }
  .list-mapel p.tih{
    margin-bottom: 100px;
  }
}

.frame{
  width :100%; 
  height:450px;
  border-radius: 10px;
}
.mapel{ 
  height:280px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.btn-lomba{
text-align: right;
font-size: 10px;
color: #2cbadd;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.tekelas{
  color: #000;
  font-size: 18px;
}
.tekmat p{
  color: #000;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.linkbel{
  color: #000;
  font-size: 10px;
}
@media (max-width: 991px){
  .mapel img {
    margin-top: 100px;
  }
  .btn-lomba{
    text-align: center;
    font-size: 8px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
.bgkomat{
  background-size: cover;
  position: relative;
}
.komat {
  height: 400px;
  box-shadow: 0px 43px 188px rgba(0, 0, 0, 0.07), 
  0px 19.8802px 86.9181px rgba(0, 0, 0, 0.0519173), 
  0px 11.375px 49.7326px rgba(0, 0, 0, 0.0438747), 
  0px 6.90454px 30.1873px rgba(0, 0, 0, 0.0377964), 
  0px 4.16029px 18.1892px rgba(0, 0, 0, 0.0322036), 
  0px 2.31672px 10.1289px rgba(0, 0, 0, 0.0261253), 
  0px 0.996405px 4.35637px rgba(0, 0, 0, 0.0180827);
  margin: 40px;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  
}